# Pandas

In [1]:
# Pandas is built on top of the NumPy library

# Pandas stores the data in 2 structures:
# 1. Series
# 2. DataFrame

## Series
Series is one-dimensional labelled array capable of holding data like str,int,object

Series is nothing but a column in an excel sheet

In [11]:
import pandas as pd
import numpy as np

data=np.array(['a','n','a','n','d'])
result=pd.Series(data)
print(result)

0    a
1    n
2    a
3    n
4    d
dtype: object

## DataFrame

In [ ]:
# DataFrame is two-dimensional array with labelled axes (rows, columns)

# In this data is alligned in tabular format

# DataFrame main components are: 1. rows, 2. columns, 3.data

## Creating DataFrame

In [9]:
import pandas as pd

data=['code','new','project','for','life']
df=pd.DataFrame(data, columns=['Words'])
print(df) # or we can also use 'df.head()'

     Words
0     code
1      new
2  project
3      for
4     life

## Creating DataFrame from CSV file

In [13]:
import pandas as pd

df=pd.read_csv("C:\\Users\\lette\\Data Visualization\\iris.csv")
df.head() 
# we can pass arguments like 10 or 20 for seeing that length of rows of data

   150    4  setosa  versicolor  virginica
0  5.1  3.5     1.4         0.2          0
1  4.9  3.0     1.4         0.2          0
2  4.7  3.2     1.3         0.2          0
3  4.6  3.1     1.5         0.2          0
4  5.0  3.6     1.4         0.2          0

## Filtering DataFrame

In [ ]:
# filter() function filters rows or columns based on specifications

In [14]:
df.filter(['setosa','versicolor','virginica']).head()

# filter() doesn't change or modify the actual data content, its just for comfort of reading

   setosa  versicolor  virginica
0     1.4         0.2          0
1     1.4         0.2          0
2     1.3         0.2          0
3     1.5         0.2          0
4     1.4         0.2          0

## Sorting DataFrame

In [ ]:
# sort_values() function sorts the data in Assending or Dissending Order

In [19]:
df.sort_values(by='setosa',ascending=True).head()

# if we use "ascending=False" we get "Descending Order"

    150    4  setosa  versicolor  virginica
22  4.6  3.6     1.0         0.2          0
13  4.3  3.0     1.1         0.1          0
14  5.8  4.0     1.2         0.2          0
35  5.0  3.2     1.2         0.2          0
16  5.4  3.9     1.3         0.4          0